* {
  box-sizing: border-box;
}

#root {
  display: flex;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.div1 {
  width: 30%;
  background-color: bisque;
  padding: 20px;
}

.div2 {
  width: 70%;
  background-color: cadetblue;
  padding: 10px;
}

.grig-preview {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 70px 40px 1fr;
  grid-template-areas:
    "img header header header"
    "img author author author"
    "img descrip descrip descrip";
}

.div2 h2 {
  grid-area: header;
  justify-self: start;
  align-self: center;
  padding: 10px;
  font-size: 26px;
}
.div2 img {
  grid-area: img;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.div2 h3 {
  grid-area: author;
  padding: 10px;
  align-self: center;
}
.div2 p {
  padding: 10px;
  grid-area: descrip;
}

.btn {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background: #e4e4eb;
  padding: 5px 15px;
  cursor: pointer;
}

.btn:hover {
  background: #8b98e0;
}

h1 {
  text-align: center;
}

.list {
  list-style: none;
  padding: 10px;
}

.list li {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px 5px 10px;
  background: #f3ebff;
  display: grid;
  grid-template-columns: 85px 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "img description description"
    "img btn-edit btn-delete";
  grid-column-gap: 10px;
}
.list li img {
  grid-area: img;
  width: 100%;
}

.btn-edit {
  grid-area: btn-edit;
}

.btn-delete {
  grid-area: btn-delete;
}

li p {
  padding: 0;
  margin: 0 0 25px 0;
  text-align: center;
}
.list li:not(:last-child) {
  margin-bottom: 15px;
}

.description {
  grid-area: description;
  cursor: pointer;
  font-size: 20px;
}
.description:hover {
  color: #6e81eb;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.btn-add {
  margin: 0 auto;
  width: 190px;
  display: block;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 50px auto 0;
}

.form input {
  width: 100%;
  border: 1px solid orange;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
}

.form textarea {
  width: 100%;
  height: 200px;
  resize: none;
  font-size: 16px;
}

.btn-save {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}
